<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<DIV id=body_right>
    <DIV id=body_right_tu><IMG src="..//templates/z48/images/i012.jpg"></DIV>
    <DIV id=mb>
        <DIV id=mb_s><SPAN><strong>客户反馈</strong> 当前位置:<a href="../index.html">首页</a> >>客户反馈
                </SPAN>
        </DIV>
        <DIV id=mb_x>
            <P style="TEXT-INDENT: 2em">
            <p>如果您对我们的产品或服务有任何意见和建议请及时告诉我们，我们将尽快给您满意的答复。<br /></p>
            <div id="faqbox">
                <form action="save.asp?action=add" method="post">
                    <div class="faqline">
                        <span class="faqtit">问题：</span>
                        <input name="FaqTitle" type="text" /><font color="#FF0000">*</font>
                    </div>
                    <div class="Content">
                        <span class="faqtit">内容：</span>
                        <textarea name="Content" cols="60" rows="5"></textarea><font color="#FF0000">*</font>
                    </div>
                    <div class="faqline">
                        <span class="faqtit">联系人：</span>
                        <input name="Contact" type="text" /><font color="#FF0000">*</font>
                    </div>
                    <div class="faqline">
                        <span class="faqtit">联系方式：</span>
                        <input name="ContactWay" type="text" /> <font color="#FF0000">*</font> 请注明是手机、电话、QQ、Email,方便我们和您联系
                    </div>
                    <div class="faqline">
                        <span class="faqtit">验证码：</span>
                        <input name="code" type="text" class="login_verification" id="verification" size="6" maxlength="6"/><font color="#FF0000">*</font>
                        <img src="../inc/checkcode.asp" alt="看不清验证码?点击刷新!" onClick="this.src='../inc/checkcode.asp'" />
                    </div>
                    <div class="faqline">
                        <span class="faqtit">&nbsp;</span>
                        <input type="submit" value=" 提交 "/>
                    </div>
                </form>
            </div>
            </P>
        </DIV>
    </DIV>
</DIV>




<DIV id=body_right>
    <DIV id=body_right_tu><IMG src="..//templates/z48/images/i012.jpg"></DIV>
    <DIV id=mb>
        <DIV id=mb_s><SPAN><strong>客户反馈</strong> 当前位置:<a href="../index.html">首页</a> >>客户反馈
                </SPAN>
        </DIV>
        <DIV id=mb_x>
            <P style="TEXT-INDENT: 2em">
            <p>如果您对我们的产品或服务有任何意见和建议请及时告诉我们，我们将尽快给您满意的答复。<br /></p>
            <div id="faqbox">
                <form action="save.asp?action=add" method="post">
                    <div class="faqline">
                        <span class="faqtit">问题：</span>
                        <input name="FaqTitle" type="text" /><font color="#FF0000">*</font>
                    </div>
                    <div class="Content">
                        <span class="faqtit">内容：</span>
                        <textarea name="Content" cols="60" rows="5"></textarea><font color="#FF0000">*</font>
                    </div>
                    <div class="faqline">
                        <span class="faqtit">联系人：</span>
                        <input name="Contact" type="text" /><font color="#FF0000">*</font>
                    </div>
                    <div class="faqline">
                        <span class="faqtit">联系方式：</span>
                        <input name="ContactWay" type="text" /> <font color="#FF0000">*</font> 请注明是手机、电话、QQ、Email,方便我们和您联系
                    </div>
                    <div class="faqline">
                        <span class="faqtit">验证码：</span>
                        <input name="code" type="text" class="login_verification" id="verification" size="6" maxlength="6"/><font color="#FF0000">*</font>
                        <img src="../inc/checkcode.asp" alt="看不清验证码?点击刷新!" onClick="this.src='../inc/checkcode.asp'" />
                    </div>
                    <div class="faqline">
                        <span class="faqtit">&nbsp;</span>
                        <input type="submit" value=" 提交 "/>
                    </div>
                </form>
            </div>
            </P>
        </DIV>
    </DIV>
</DIV>

</body>
</html>