<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新闻</title>
</head>
<body>
<form name="xinwen" action="/gongzuo/index.php/controller/shouxinwen" method="post" enctype="multipart/form-data">
    文章标题：<input type="text" name="biaoti" required><br/>
    文章来源：<input type="text" name="laiyuan" required><br/>
    文章内容：<textarea cols="150" rows="30" name="neirong" required></textarea><br/>
    关键字 ：<input type="text" name="guanjianzi" required><br/>
    文章类别：<input type="text" name="leibie" required><br/>
    <?php
    $shuliang=$_GET['shuliang'];
    for($i=0;$i<$shuliang;$i++){
    ?>
    图片上传：<input type="file" name="tupian[]"><br/>
    <?php
    }
    ?>
    <input type="submit" value="提交">
</form>
</body>
</html>