<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆界面</title>
</head>
<body>
<form name="denglu" method="post" action="/toupiao/index.php/denglucontroller/denglutiao">
    <table>
    <tr>
        <td>请输入密码</td>
        <td><input type="text" name="mima"></td>
    </tr>
        <tr>
            <td><input type="submit" value="登陆"></td>
            <td><input type="reset" value="重置"></td>
        </tr>
    </table>
</form>
<a href="/toupiao/index.php/denglucontroller/toupiaochuli"><button>游客</button></a>
</body>
</html>